@media (max-width: 391px) {
    .center {
        padding-left: calc(50% - 195px);
        padding-right: calc(50% - 195px);
    }

    .header {}

    .header__content {}

    .link-hide {
        display: none;
    }

    .banner-img {
        display: none;
    }

    .main__banner_text {
        margin-block: 200px;
    }

    .main__products {
        display: flex;
        flex-direction: column;
    }

    .main__products_image {
        min-height: 248px;
        box-shadow: 0 0 0 200px rgba(0, 0, 0, 0.6) inset;
    }

    .image4 {
        min-height: 111px;
    }

    .main__catalog {
        display: flex;
        flex-direction: column;
    }

    .main__catalog_header .main__catalog_text2 {
        text-align: center;
        font-size: 12px;
    }

    .main__privileges {
        flex-direction: column;
    }

    .main__privilege {
        width: 90vw;
    }

    .main__subscribe {
        flex-direction: column;
    }

    .recall {
        width: 90vw;
    }

    .recall_img {
        max-width: 10vw;
    }

    .footer {
        display: flex;
        flex-direction: column-reverse;
    }

    .footer .icon-img {
        width: 32px;
    }

}